In [4]:
import pandas as pd
import os
from dotenv import load_dotenv, find_dotenv
_ = load_dotenv(find_dotenv())

In [3]:
nba_data = pd.read_csv("../data/Lebron_James_All_Regular_Season_Stats.csv")
nba_data.head()

,G,Date,Age,Tm,Unnamed: 5,Opp,Unnamed: 7,GS,MP,FG,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
0,1,2003-10-29,18-303,CLE,@,SAC,L (-14),1.0,42:50,12,...,4,6,9,4,0,2,3,25,24.7,-9.0
1,2,2003-10-30,18-304,CLE,@,PHO,L (-9),1.0,40:21,8,...,10,12,8,1,0,7,1,21,14.7,-3.0
2,3,2003-11-01,18-306,CLE,@,POR,L (-19),1.0,39:10,3,...,4,4,6,2,0,2,3,8,5.0,-21.0
3,4,2003-11-05,18-310,CLE,NaN,DEN,L (-4),1.0,41:06,3,...,9,11,7,2,3,2,1,7,11.2,-3.0
4,5,2003-11-07,18-312,CLE,@,IND,L (-1),1.0,43:44,8,...,5,5,3,0,0,7,2,23,9.0,-7.0

In [16]:
!pip install tabulate

Collecting tabulate
  Using cached tabulate-0.9.0-py3-none-any.whl (35 kB)
Installing collected packages: tabulate
Successfully installed tabulate-0.9.0

In [19]:
from langchain.agents import create_csv_agent
from langchain.llms import OpenAI

agent = create_csv_agent(
    OpenAI(temperature = 0.5), 
    "../data/Lebron_James_All_Regular_Season_Stats.csv",
    verbose = True
)

In [21]:
agent.run("What is the most PTS scored in one game")

> Entering new AgentExecutor chain...
Thought: I need to find the highest value in the PTS column
Action: python_repl_ast
Action Input: df['PTS'].max()
Observation: 61
Thought: I now know the final answer
Final Answer: 61

> Finished chain.

'61'

In [22]:
agent.run("What is the average PTS scored all time")

> Entering new AgentExecutor chain...
Thought: I need to find the average of the PTS column
Action: python_repl_ast
Action Input: df['PTS'].mean()
Observation: 27.200562983814216
Thought: I now know the final answer
Final Answer: The average PTS scored all time is 27.20.

> Finished chain.

'The average PTS scored all time is 27.20.'